.Layout {
  display: grid;
  grid-template-rows: 4.1rem 1.8rem 1fr 1rem;
  grid-template-columns: 66% 34%;
  grid-template-areas:
    'header header'
    'menu menu'
    'left-content right-content'
    'footer footer';
}

.Layout .ToolHeader {
  grid-area: header;
}

.Layout .ToolFooter {
  grid-area: footer;
}

.Layout .Menu {
  grid-area: menu;
}

.Layout .Home,
.Layout .CarTable,
.Layout .Message,
.Layout .CarDetails,
.Layout .Privacy,
.Layout .TermsOfUse,
.Layout .CarForm {
  margin: 10px;
}
  
.Layout .CarTable {
  grid-area: left-content;
}

.Layout .Message,
.Layout .CarDetails {
  grid-area: right-content;
}

.Layout .Home,
.Layout .Privacy,
.Layout .TermsOfUse {
  grid-column: span 2;
}
