%content-top-margin {
    margin: 10px;
}

.Layout {
    display: grid;
    grid-template-rows: 4.1rem 1.8rem 1fr 1rem;
    grid-template-columns: (2 / 3) * 100% (1 / 3) * 100%;
    grid-template-areas:
      'header header'
      'menu menu'
      'left-content right-content'
      'footer footer';

    .ToolHeader {
        grid-area: header;
    }

    .ToolFooter {
        grid-area: footer;
    }

    .Menu {
        grid-area: menu;
    }

    .CarTable {
        grid-area: left-content;
    }

    .Message, .CarDetails {
        grid-area: right-content;
    }

    .Home, .Privacy, .TermsOfUse {
        grid-column: span 2;
    }

    .Home, .CarTable, .Message, .CarDetails,
    .Privacy, .TermsOfUse, .CarForm {
        @extend %content-top-margin;
    }
  }
  